<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon> 
    </button> -->
    <h1><mat-icon>menu</mat-icon>&nbsp;Expense Reimburement System</h1>
    <span class="menu-spacer"></span>
    <div>
      &nbsp;&nbsp;
      <a mat-button routerLink="/"><mat-icon>home</mat-icon>&nbsp;Home </a>
      <a mat-button routerLink="/add-expense"><mat-icon>post_add</mat-icon>&nbsp;File Expense Reimbursements  </a>
    </div>
  </mat-toolbar-row>