<!-- <footer class="page-footer font-small blue"> -->
<!-- <mat-toolbar style="text-align: center; background-color: lightblue;">
    <div class="footer-copyright text-center py-3">All Rights reserved ©Copyrights 2020 
        <p>All Rights reserved ©Copyrights 2020
             <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> 
        </p>
</mat-toolbar> -->
<!-- </footer> -->
<mat-toolbar color="primary" class="md-padding">
    <div>
      <p style="text-align: center;">All Rights reserved ©Copyright 2020</p>
    </div>
</mat-toolbar>